* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  padding-bottom:5%;
  padding-top:5%;
  width:80%;
  max-width:75ch;
  
}

.intro{
  background: #23424a;
  color: white;

}


.intro-content {
 
   margin:0 auto;

  padding:0 auto;
}
